<div class="row">
  <div class="col-xs-12">
    <button mat-raised-button color="primary" (click)="onNewDevice()">New Device</button>
    <button 
      mat-raised-button 
      color="primary" 
      style="float: right;"
      (click)="onRefresh()">
        <mat-icon>refresh</mat-icon>
    </button>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-xs-12">
    <div *ngIf="isFetching">
      Please wait.
      <mat-progress-spinner mode="indeterminate">
      </mat-progress-spinner>
    </div>
    <div *ngIf="!isFetching && !error">
      <app-device-item
      *ngFor="let deviceEl of devicesList"
      [device]="deviceEl"></app-device-item>
    </div>
    <div *ngIf="error">An error occurred.</div>
  </div>
</div>
