<div class="row">
  <div class="col-xs-12">
    <button 
      mat-raised-button 
      color="primary" 
      (click)="onNewDevice()"
      matTooltip="Add new device"
      aria-label="Add new device button">
      {{addNewButton}}
      <mat-icon>add_to_queue</mat-icon>
    </button>
    <button 
      mat-raised-button 
      color="primary" 
      style="float: right;"
      (click)="onRefresh()"
      matTooltip="Refresh list of devices"
      aria-label="Refresh list of devices button">
        <mat-icon>refresh</mat-icon>
    </button>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-xs-12">
    <div *ngIf="isFetching">
      Please wait.
      <mat-progress-spinner mode="indeterminate">
      </mat-progress-spinner>
    </div>
    <div *ngIf="!isFetching && !error">
      <app-device-item
      *ngFor="let element of elementList"
      [element]="element"></app-device-item>
    </div>
    <div *ngIf="error">An error occurred.</div>
  </div>
</div>
