<mat-card>
    <div *ngIf="!device; else loaded">Please select Device.</div>
</mat-card>

<ng-template #loaded>
    <mat-card-title class="header-card"> {{ device.name | uppercase }} </mat-card-title>
    
    <mat-card-content>
        <p class="list-group-item-text">Type: {{ device.type }}</p>
        <p class="list-group-item-text">Producer: {{ device.producer.name }}</p>
        <p class="list-group-item-text">House: {{ device.house.name }}</p>
        <p class="list-group-item-text">IP: {{ device.ip_address }}</p>
        <p class="list-group-item-text">Port: {{ device.port }}</p>
        <p class="list-group-item-text">Protocol: {{ device.protocol }}</p>
        <p class="list-group-item-text">API: {{ device.apiUrl }}</p>
    </mat-card-content>

    <mat-card-actions>
        <div>
            <button 
                mat-raised-button 
                color="primary" 
                [routerLink]="['./edit']"
                matTooltip="Edit this device."
                aria-label="Edit this device button.">
                    Edit
            </button>
            <button 
                mat-raised-button color="primary" 
                [routerLink]="['./results']"
                class="btn-next"
                matTooltip="Get the results of this device."
                aria-label="Get the results of this device button.">
                    Results
            </button>
        </div>
    </mat-card-actions>
</ng-template>