<mat-card class="card">
  <div class="container">
    <a
    style="cursor: pointer;"
    [routerLink]="['./', id]"
    routerLinkActive="active"
    class="list-group-item clearfix">
    <mat-card-header>
      {{ header }}
    </mat-card-header>
    <mat-card-content>
      {{ body }}
    </mat-card-content>
    </a>
    
    <div class="icon-group">
      <mat-icon 
      matTooltip="Remove device"
      aria-label="Remove device button"
      (click)="onRemove()">
      delete
      </mat-icon>
      <mat-icon 
      (click)="onEdit()"
      matTooltip="Edit device"
      aria-label="Edit device button">
      edit
    </mat-icon>
    </div>
  </div>
</mat-card>